<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    
</head>
<body>
    <div id="message">
        <div id="remove"></div>
    </div>
    <form class="writer" onsubmit=sendMessage(event)>
        <div class="userName"></div>
        <input type="text" name="Text" id="Text" />
        <input type="submit"value="->"/>
    </form>
</body>
<script>
    window.addEventListener("load",()=>{
        let userName = localStorage.getItem("userName")
        if(userName == undefined || userName == ""){
            alert("nome de usuario não esta presente por favo preencher")
            location.href = "http://localhost:8080"
        }
    })


</script>
</html>